{
  "extends": "nss/node",
  "rules": {
    "semi": 0,
    "no-console": 0,
    "max-len": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0,
    "no-continue": 0
  }
}

// eslint-disable-next-line no-restricted-syntax
